body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 224, 250);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
nav > a {
  margin-top: 20px;
  font-size: 25px;
  padding: 15px;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: overline rgb(33, 33, 107);
  color: rgb(33, 33, 107);
  size: 30px;
}
nav > img {
  width: 90px;
  height: 90px;
  margin-top: -25px;
}
h1 {
  background-image: url(/images/weaving\ img.jpg);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 300px;
  margin-top: 40px;
}
p {
  font-size: 20px;
  float: right;
  margin-top: 30px;
  width: 30%;
  margin-right: 90px;
  font: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main > a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  background-color: rgb(117, 167, 187);
  margin-top: 130px;
  margin-bottom: 20px;
  float: right;
}
main > a:hover {
  text-decoration: overline red;
}
